// _variables.scss

$light-blue:  #4FBCF2;
$dark-blue:   #3AA0D3;
$berry:       #B2125C;
$grey-black:  #324147;
$deep-orange: #E65F00;
$purple:      #511883;
$green:       #458741;
$red-alert:   #CF041C;
$light-grey:  #747C93;
$pale-grey:   #ECF2F6;
